@import '../../variables.css';


.geosuggest {
  width: 49%;
  margin: 0px;
  margin-bottom: 20px;
}

.geosuggestInput {
  height: 44px !important;
  resize: none;
  border: 1px solid #E0E0C6;
  box-shadow: none;
  padding: .375rem .75rem;
}

.geosuggestInput:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.geosuggest__suggests {
  border-width: 1px;
  border-color: #E0E0C6;
}

.geosuggest__suggests_hidden {
  border-width: 0px;
}
