@import './variables.css';
.containerWith {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}
.container {
    max-width: 100%;
}
/* Buttons - Start */
 .btnLight{
     font-weight: 600;
     background: transparent !important;
     border: 1px solid transparent !important;
     color: #000 !important;
     padding: 10px 18px;
     border-radius: 4px;
     box-shadow: 0px 15px 10px -15px #ccc !important;
}

/* Buttons - End */
/* Text - Start */
 .subText {
     color: #A3A3A3;
     font-size: 12px;
}
/* Text - End */
/* Header */
 .navBg {
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 5;
     padding: 0 7.2rem;
}
 .justifyFlexEnd {
     justify-content: flex-end !important;
}
 .dropdowncolor a{
     color: #727272 !important;
}
 .borderNone {
     border: none !important;
}
 .outlineNone {
     outline: none !important;
}
 .navigationLink a {
     padding-right: 20px !important;
     padding-left: 20px !important;
     color: #161616 !important;
     font-size: 18px;
     border-bottom: 2px solid transparent;
}
.navigationLink a:hover, .navigationLink a:focus, .navigationLink a:active{
    border-bottom: 2px solid #000;
}
 .logOut{
     float: right;
}
/* Header */
/* leftMenu */
 .sideMenuBg{
     width:100%;
     height:100vh;
     position: fixed;
     left: 0;
     right: 0;
     width: 280px;
}
 .sideMenuIcon {
     width: 100%;
     max-width: 15px;
     margin-bottom: 3px;
}
/* leftMenu */
/* commonCss */
 .noPadding{
     padding: 0;
}
 .siteAdminHeader{
     font-weight: 600;
     font-size: 20px;
     text-align: center;
     background-color: #fff;
     color: var(--admin-text-color);
     padding: 15px 0 0;
     height: 60px;
     position: fixed;
     width: 100%;
     left: 0;
     right: 0;
     max-width: 280px;
     border-right: 1px solid var(--admin-border-color);
}
 .headerBg{
     width:100%;
     height:60px;
     background: var(--admin-bg-color);
     padding: 11px 10px;
     border-bottom: 1px solid var(--admin-border-color);
     position: fixed;
     left: 0;
     right: 0;
     z-index: 2;
}
 .heading{
     padding: 30px 30px 24px;
     font-weight: 700;
     color: var(--admin-text-color);
     font-size: 24px;
}
.headingTwo{
    padding: 30px 0px 24px;
    font-weight: 700;
    color: var(--admin-text-color);
    font-size: 24px;
    margin: 0;
}
 .widthInner{
     margin: 0px auto 0px auto;
     border-radius: 4px;
     padding: 0px;
     margin: 0px 15px 30px;
}
 .formControlInputAddress{
     height: 50px;
}
 .noMargin{
     margin: 0;
}
 .formControlInputTable{
     border: none;
     width:100px;
     height: auto;
}
 .sideNav{
     width: 280px;
     position: absolute;
     height: 100vh;
     z-index: 3;
}
 .mainContent {
     margin-left: 280px;
     height: 100vh;
     overflow: auto;
     padding-bottom: 60px;
     background: var(--admin-commonBg-color);
}
 .closeColor{
    color: var(--admin-text-color);
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    display: block;
    top: 0;
    padding: 0;
    right: 0;
    z-index: 5;
    cursor: pointer;
    width: 100%;
    text-align: right;
    background: #ffffff;
    padding: 2px 12px 2px 0px;
}
 .safetyContainer{
     padding: 70px 0 0px;
}
 .gridBottom{
     padding-bottom: 30px;
     padding-top: 30px;
}
 .aboutBg{
     background: #f5f5f5;
     padding: 100px 0;
}
 .displayFlex{
     display: flex;
     justify-content: center;
     align-items: center;
}
 .leftGrid h1{
     color: #fff;
     font-weight: bold;
     font-size: 36px;
     margin:0;
}
 .noPaddingLeft{
     padding-left: 0px;
}
 .backBtn {
     margin-left: 15px;
     display: inline-block;
}
 .backBtn:active, .backBtn:hover, .backBtn:focus {
     color: #000;
     text-decoration: none !important;
}
 .textAlignRight {
     text-align: right;
}
 .displayInlineBlock {
     display: inline-block;
}
 .floatRight {
     float: right;
}
 .displayBlock {
     display: block;
}
 .paddingRoutesSection {
     padding: 0px 15px;
}

.formControlInputCountryCode {
    background: #000 !important;
    color: #fff !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0 !important;
    text-align: center;
    font-weight: 700;
}
.formControlInputCountry {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0 !important;
}
.countryCode {
    width: 15%;
    vertical-align: top;
}
.countryPhoneNumber {
    width: 85%;
    vertical-align: top;
}
 .vtrMiddle {
     vertical-align: middle;
}
 .vtrTop {
     vertical-align: top;
}
 .vrtSub {
     vertical-align: sub;
}
/* commonCss */

.editIcon {
    width: 100%;
    width: 15px;
    vertical-align: middle;
    margin-right: 3px;
}
.iconBtn, .iconBtn:hover, .iconBtn:focus {
    padding: 0;
    background: transparent !important;
    color: var(--admin-text-color) !important;
    border: 0 !important;
    white-space: nowrap;
    font-size: 18px;
}
.iconBtn:hover {
    text-decoration: underline;
}
.trashPadding {
    padding: 3px !important;
    padding-top: 12px !important;
}
.alignCenter {
    text-align: center;
}
.profileImg {
 width: 100%;
 height: auto;
 margin-bottom: 18px;
}
.profileImgSection {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid var(--admin-border-color);
    background: #fff;

}
.profileImgWidth {
    margin: 0;
    max-width: 100% !important;
}
.searchInput {
    width: 100%;
    max-width: 320px;
    float: left;
}
.rightSide {
    float: right;
    margin-top: 0px;
    padding-bottom: 10px;
}
.noRecords{
    text-align: center;
    padding-top: 30px !important;
    font-size: 26px;
    font-weight: 600;

}
.backgroundImg{
    padding-top: 34%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 18px;
    border-radius: 4px;
    background-color: transparent;
    background-position: center;
    margin-top: 18px;
    border: 1px dashed #D4D4B6;
    border-radius: 12px;
}

.documentBackgroundImg{
    padding-top: 34%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 18px;
    border-radius: 4px;
    background-color: transparent;
    background-position: center;
    margin-top: 18px;
    border: 1px dashed #D4D4B6;
    border-radius: 12px;
}

.logOutSection {
    display: none !important;
}
.staticContainer{
    padding: 50px 0 0;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}
.headingPadding{
    padding-left: 15px;
}

/*******************Export CSV section start ******************/
.exportDisplay {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-bottom: 10px;
}
.exportTextSection {
    text-align: right;
}
.exportText {
    margin-right: 6px;
    color: var(--admin-text-color) !important;
    text-decoration: none !important;
}
.vtrTextBottom {
    vertical-align: text-bottom;
}
.exportImg {
    width: 100%;
    max-width: 14px;
}
/*******************Export CSV section End ******************/
.noLink, .noLink:hover {
	color: var(--admin-text-color) !important;
	cursor: pointer;
}
.displayFlex{
    display: flex;
   justify-content: center;
}
.justyCenter{
    justify-content: center;
}
.headingH1{
    font-size: 24px;
    margin: 0;
    color: var(--admin-text-color);
}
.imageCss{
	border: 1px dashed #D4D4B6;
    border-radius: 12px;
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top:20px;
}
.btnWidthadmin{
	width: 160px;
    margin: 33px auto 0 auto;
	font-size: 20px !important;
    cursor: pointer;
}
.clickBtnRight{
	margin-right: 15px;
}
.tableInnerWidth{
    padding: 0 15px;
}
.marbtm14 {
	margin-bottom: 50px !important;
}
.singalCard{
    width: 500px;
    margin: 0 auto;
}
.defaultIcon{
    background-size: 50px;
}
@media screen and (max-width:1330px){
    .containerWith{
      padding-left : 15px;
      padding-right: 15px;
    }
  }

  
  @media screen and (min-width:480px) and (max-width:1199px) {
    .displayFlex {
        justify-content: flex-end;
    }
  }

  @media screen and (max-width:480px){
    .displayFlex {
        justify-content: flex-start;
    }
  }